<div class="imagen-inicio" data-position="center center">
	<div class="banner-inicio">
		<%= image_tag("http://gdurl.com/cFsx", class: "logo", :alt => "logo personal", title:"Logo") %>
		<h3 class="txt-nombre">
			Sebastian Nahuel Ternouski
		<br>
		<br>
		<br>
			<i class="fa fa-angle-down animacion-flecha" aria-hidden="true" ></i>
		</h3>
	</div>
</div>

<! PARA EL VIDEO-->
<!--
<section class="video-section">
	<div class="inicio-inicio" data-position="center center">
		<a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/dIntqJvyG0Y',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    	<div class="banner-inicio">
			<%= image_tag("http://gdurl.com/cFsx", class: "logo", :alt => "logo personal", title:"Logo") %>
			<h3 class="txt-nombre"> Sebastian Nahuel Ternouski</h3>
		</div>
  	</div>
</section>
-->
<! PARA EL VIDEO-->

<div id="2da" class="segunda-parte txt-blanco">
	<div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 txt-introduccion-sobreMi">
		<h2> <%= t 'sobre_mi.titulo' %> </h2>
		<p> <%= t 'sobre_mi.info' %> </p>
	</div>
	<div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
		<%= image_tag("http://gdurl.com/FhdA", class: "mi-foto img-responsive center-block") %>
	</div>
	<div class="col-lg-5 col-md-4 col-sm-6 col-xs-6 txt-introduccion-Datos">
		<h2> <%= t 'datos.titulo' %> </h2>
		<strong><%= t 'datos.nombre_completo' %>:</strong> <br> <p>Sebastian Nahuel Ternouski</p>
		<strong><%= t 'datos.edad' %>:</strong> <br> <p><%= @cantidad_de_anios %> <%= t 'datos.años' %></p>
	</div>
</div>

<div class="tercera-parte centrado">
	<div class="margenes col-md-4 col-sm-12">
		<h3 class="centrado">Multimedia</h3> <br>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<p class="conocimiento izquierda">
				Adobe Illustrator <br>
				Adobe After Efect <br>
				Adobe Photoshop <br>
				Adobe Audition <br>
				Adobe Premiere <br>
				Blender (3D) <br>
			</p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 derecha">
			<div class="calificacion"><!-- Ai -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Ae -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Ps -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Aa -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Ap -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Blender -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
		</div>
	</div>

	<div class="margenes col-md-4 col-sm-12">
		<h3 class="centrado"> <%= t 'programas.lenguajes' %> </h3> <br>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<p class="conocimiento izquierda">
				Ruby on Rails <br>
				Java <br>
				Latex <br>
				CSS/HTML/JS <br>
				Bash <br>
				C/C++ <br>
				Pascal <br>
				MATLAB <br>
			</p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 derecha">
			<div class="calificacion"><!-- RoR -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Java -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Latex -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- CSS/HTML/JS -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Bash -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- C/C++ -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Pascal -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Matlab -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
		</div>
	</div>

	<div class="margenes col-md-4 col-sm-12">
		<h3 class="centrado"> <%= t 'idioma.titulo' %> </h3> <br>
		<div class="col-md-6 col-sm-6 col-xs-6">
			<p class="conocimiento izquierda">
				<%= t 'idioma.español' %> <br>
				<%= t 'idioma.ingles' %> <br>
				<%= t 'idioma.portugues' %> <br>
			</p>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 derecha">
			<div class="calificacion"><!-- Español -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Ingles -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
			<div class="calificacion"><!-- Portugues -->
				<i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</div>


<div class="cuarta-parte centrado">
	<h2> <%= t 'proyecto.titulo' %> </h2> <br>

	<a href="https://github.com/nternouski/my-web">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/QirV">
				<div class="txt-desenfoque">
					<h2><%= t 'proyecto.pagina.titulo' %></h2>
					<p><%= t 'proyecto.pagina.desc' %></p>
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>

	<a href="https://nosrobaronelnombre.herokuapp.com/">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/A4oa">
				<div class="txt-desenfoque">
					<h2><%= t 'proyecto.gauchada.titulo' %></h2>
					<p><%= t 'proyecto.gauchada.desc' %></p>
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>
	
	<a href="https://www.youtube.com/watch?v=cNLXL_kVEpY">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/nQ0D">
				<div class="txt-desenfoque">
					<h2><%= t 'proyecto.diseño3d.titulo' %></h2>
					<p><%= t 'proyecto.diseño3d.desc' %></p>
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>

	<a href="https://drive.google.com/file/d/0B9xi9Ng3gJzraTFpbDBXTHhRSlE/view?usp=sharing">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/Lpnb">
				<div class="txt-desenfoque">
					<h2><%= t 'proyecto.fix_felix.titulo' %></h2>
					<p><%= t "proyecto.fix_felix.desc1" %>
						<br><br>
						<%= t "proyecto.fix_felix.desc2" %>
					</p>					
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>

	<a href="https://www.facebook.com/HumorMatematico/photos/a.412163632151854.102014.411816305519920/937286519639560/?type=1&theater">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/tjkz">
				<div class="txt-desenfoque">
					<h2><%= t 'proyecto.banner.titulo' %></h2>
					<p><%= t 'proyecto.banner.desc' %></p>
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>

		<a href="https://www.youtube.com/watch?v=KX1nlDv9_-0">
		<div class="col-md-4 col-sm-6 col-xs-12 sin-padding">
			<figure class="img-desenfoque">
				<img class="img-responsive" src="http://gdurl.com/h4X5">
				<div class="txt-desenfoque">
					<h2><%= t 'proyecto.espirales.titulo' %></h2>
					<p><%= t 'proyecto.espirales.desc' %></p>
				</div>
				<figcaption>
				<a ></a>
				</figcaption>
			</figure>
		</div>
	</a>

</div>


<div class="cuarta-parte centrado">
</div>

