
	 <div class="img-contacto contenedor-contacto">
	 	<div class="row">
	 		<div class="col-lg-6" style="content: center">
	 		<iframe width="550" height="520" frameborder="0" style="border:0" 
	 			src="https://www.google.com/maps/embed/v1/place?q=calle%2055%20y%207%20La%20Plata%2C%20Buenos%20Aires%2C%20Argentina&key=AIzaSyAOVR0eAy3BJj3fxGZQkJLTI9KxZnOSgcw" allowfullscreen>
	 		</iframe>
	 		</div>
	 		
	 		<div class="col-lg-6">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="texto-blanco">Contacto</h2>
                    <hr class="primary">
                    <p class="texto-blanco">Para comunicarte conmigo o para solicitar CV, no dude en escribirme.</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
					<%= form_tag({controller: "contact", action: "mail"}, method: "get")  do %>
						<div class="form-group col-md-6">
							<%= text_field_tag :nombre, nil, class: 'form-control', placeholder: 'Nombre y Apellido', :value => params[:nombre] %>
						</div>
						<div class="form-group col-md-6">
							<%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Email', :value => params[:email] %>
						</div>
						<div class="form-group col-md-12">
							<%= text_area_tag :mensaje, nil, class: 'form-control', rows: "3", placeholder: 'Escribe tu mensaje aqui', :value => params[:mensaje] %>
						</div>		
						<div class="form-group">
							<%= submit_tag "Enviar", :class => 'btn btn-default' %>
						</div>
					<% end %>
					<br><br>
					<p class="texto-blanco informacion-contactos">
						<i class="fa fa-phone fa-fw" aria-hidden="true"></i> +54-221-0000000<br>
						<i class="fa fa-envelope fa-fw" aria-hidden="true"></i>	nahuelternouski@gmail.com<br>
						<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> La Plata, Buenos Aires, Argentina<br><br>
						<a href="https://github.com/nternouski" class="barra-blanco"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>	
						&emsp;&emsp;&emsp;&emsp;	
						<a href="http://facebook.com/nahuel.ter" class="barra-blanco"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
					</p>
                </div>

            </div>
	 	</div><! --/row -->
	 </div><! --/container -->