
<div class="img-contacto contenedor-contacto">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> alert-dismissible" role="alert">
					<button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<ul>
						<li>
							<%= value.html_safe %>
						</li>
					</ul>
				</div>
			<% end %>
			<h1 class="texto-blanco">Contacto</h1>
			<br>
			<hr class="primary">
			<br>
			<p class="texto-blanco">Para comunicarte conmigo o para solicitar CV, no dude en escribirme.</p>
			<br>
		</div>
		<div class="col-lg-10 col-lg-offset-1 text-center">
			<%= form_tag({controller: "contact", action: "mail"}, method: "get")  do %>
				<div class="form-group col-lg-6 col-md-12">
					<%= text_field_tag :nombre, nil, placeholder: 'Nombre y Apellido', :value => params[:nombre] %>
				</div>
				<div class="form-group col-lg-6 col-md-12">
					<%= text_field_tag :asunto, nil, placeholder: 'Asunto', :value => params[:asunto] %>
				</div>
				<div class="form-group col-lg-12 col-md-12">
					<%= text_field_tag :email, nil, placeholder: 'Email', :value => params[:email] %>
				</div>
				<div class="form-group col-lg-12 col-md-12">
					<%= text_area_tag :mensaje, nil, rows: "3", placeholder: 'Escribe tu mensaje aquí', :value => params[:mensaje] %>
				</div>

				<div class="form-group">
					<%= submit_tag "Enviar", :class => 'boton' %>
				</div>
			<% end %>
			<br><br>
			<p class="texto-blanco informacion-contactos">
				<i class="fa fa-phone fa-fw" aria-hidden="true"></i> +54-221-0000000<br>
				<i class="fa fa-envelope fa-fw" aria-hidden="true"></i>	nahuelternouski@gmail.com<br>
				<i class="fa fa-map-marker fa-fw" aria-hidden="true"></i> La Plata, Buenos Aires, Argentina<br><br>
				<a href="https://github.com/nternouski" class="barra-blanco"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>	
				&emsp;&emsp;&emsp;&emsp;	
				<a href="http://facebook.com/nahuel.ter" class="barra-blanco"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
			</p>
		</div>
	</div><! --/row -->
</div><! --/container -->