<!DOCTYPE html>
<html>
<head>
  <title>Nahuel Ternouski</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 	<%= favicon_link_tag('http://gdurl.com/1HJ4') %> <!-- logo.png -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
<!-- https://fonts.google.com/specimen/Lato?selection.family=Lato:300,400,700 -->

</head>
<body data-target=".navbar-fixed-top">

    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand">
                    Sebastian Nahuel Ternouski
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Link vario</a>
                    </li>
                    <li>
                        <a href="#">Link vario 2</a>
                    </li>
                    <li>
                        <a  href="#">Contacto</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<%= yield %>
d<br>

d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>
d<br>

	<!-- El pie de pagina -->
	<footer class="footer">
		<div class="container">
			<div class="col-md-4 text-muted">
				&copy; 2017 Nahuel Ternouski
			</div>
			<div class="col-md-4 hoverGris">
				<!-- logo.svg -->
			</div>
			<div class="col-md-4 text-muted">
				<%= link_to 'Contacto', root_path %>
				&nbsp;&nbsp;
				<%= link_to 'FAQ', root_path %>
			</div>
		</div>
	</footer>

</body>
</html>
